<!-- <div class="container">
  <app-cookpit 
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintCreated($event)">
  </app-cookpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement">
      <p>
        <strong *ngIf="serverElement.type==='server'" style="color:red" > {{serverElement.content}}</strong>
        <em *ngIf="serverElement.type==='blueprint'">{{serverElement.content}}</em>
      </p>
      </app-server-element>
    </div>
  </div>

  <hr>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-game-control (increamentNumber)="onGameStarted($event)"  (divByFive)="onFiveStarted($event)">
    </app-game-control>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-odd *ngFor="let odd of odds" [number]="odd">      
    </app-odd>    

    <app-even *ngFor="let x of evenNumbers" [even]="x">    
    </app-even>

    
    <app-five *ngFor="let k of fiveData" [number]="k">    
    </app-five>
  </div>
</div> -->

<!-- <app-success></app-success>
<app-warning></app-warning>
<hr>
<app-assignment3></app-assignment3> -->

<!--Working with API-->
<div class="container">
  <app-product></app-product>
</div>






