<h2>Product CRUD</h2>
<div class="container">
    <div class="row">
        <div class="col xs-12">
            <table class="table">        
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Barcode</th>
                            <th scope="col">Active Status</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Buying Price</th>
                        </tr>                        
                    </thead> 
                    <tbody>
                        <tr *ngFor="let product of allProducts">
                            <td>{{ product.id }}</td>                            
                            <td>{{ product.name }}</td>
                            <td>{{ product.barcode }}</td>
                            <td>{{ product.isActive }}</td>
                            <td>{{ product.rate }}</td>
                            <td>{{ product.buyingPrice }}</td>
                            <td><button class="btn btn-warning" (click)="onEdit(product)">Edit</button></td>
                            <td><button class="btn btn-danger" (click)="onDelete(product)">Delete</button></td>
                        </tr>
                    </tbody>               
            </table>
            <form action="" #myForm="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="editProduct.name">
                </div>
                <div class="form-group">
                    <label for="barcode">Barcode</label>
                    <input type="text" class="form-control" name="barcode" [(ngModel)]="editProduct.barcode">
                </div>
                <div class="form-group">
                    <label for="IsActive">Active Status</label>
                    <input type="text" class="form-control" name="IsActive" [(ngModel)]="editProduct.isActive">
                </div>
                <div class="form-group">
                    <label for="rate">Rate</label>
                    <input type="text" class="form-control" name="rate" [(ngModel)]="editProduct.rate">
                </div>
                <div class="form-group">
                    <label for="BuyingPrice">Buying Price</label>
                    <input type="text" class="form-control" name="BuyingPrice" [(ngModel)]="editProduct.buyingPrice">
                </div>

                <button type="button" class="btn btn-primary" (click)="addProduct(myForm.value)" *ngIf="!isEdit">Add</button>
                <button type="button" class="btn btn-primary" (click)="onEditProduct()" *ngIf="isEdit">Update</button>
            </form>
        </div>
    </div>
</div>